<ion-view view-title="Monopoly">
	<ion-content class="padding">
		<div class="row">
			<div class="col">
				<div class="item item-divider calm">
					Parked
				</div>
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider yellow">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i>
				</div>
				Shaheed-e-Millat
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider yellow">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				University
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider yellow">
					<i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Rashid Minhas
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider calm">
					Go Jail
				</div>
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-divider red">
					<i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Zamzama St.
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col col-offset-60">
				<div class="item item-divider green">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i>
				</div>
				Jinnah <i class="icon ion-plane"></i>
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-divider red">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Zaibunissa St.
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col col-offset-60">
				<div class="item item-divider green">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Drigh
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-divider red">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i>
				</div>
				Tipu Sultan
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col col-offset-60">
				<div class="item item-divider green">
					<i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Lyari <i class="icon ion-speedometer"></i>
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-divider calm">
					Jail
				</div>
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider orange">
					<i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Napier
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider orange">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				M.A. Jinnah
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider orange">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i>
				</div>
				I.I. Chundrigar
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider calm">
					<i class="icon ion-arrow-left-a"></i> Go
				</div>
				<div class="row car">
					<div class="col">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="row responsive-sm">
			<button ng-click="authenticate('facebook')" class="button button-positive icon-left ion-social-facebook">Sign in with Facebook</button>
			<button ng-click="authenticate('google')" disabled class="button button-assertive icon-left ion-social-googleplus">Sign in with Google</button>
			<button ng-click="authenticate('github')" disabled class="button button-balanced icon-left ion-social-github">Sign in with GitHub</button>
			<button ng-click="authenticate('linkedin')" disabled class="button button-positive icon-left ion-social-linkedin">Sign in with LinkedIn</button>
			<button ng-click="authenticate('instagram')" disabled class="button button-balanced icon-left ion-social-instagram">Sign in with Instagram</button>
			<button ng-click="authenticate('twitter')" disabled class="button button-balanced icon-left ion-social-twitter">Sign in with Twitter</button>
			<button ng-click="authenticate('foursquare')" disabled class="button button-positive icon-left ion-social-foursquare">Sign in with Foursquare</button>
		</div>

	</ion-content>
</ion-view>