<ion-view view-title="Monopoly">
	<ion-content class="padding">
		<div class="row">
			<div class="col">
				<div class="item item-divider calm">
					Jail
				</div>
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==8">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==8">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==8">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==8">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider yellow">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i>
				</div>
				Shaheed-e-Millat
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==9">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==9">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==9">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==9">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider yellow">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				University
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==10">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==10">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==10">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==10">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider yellow">
					<i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Rashid Minhas
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==11">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==11">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==11">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==11">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider calm">
					Parking
				</div>
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==12">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==12">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==12">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==12">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-divider red">
					<i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Zamzama St.
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==7">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==7">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==7">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==7">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col col-offset-60">
				<div class="item item-divider green">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i>
				</div>
				Jinnah <i class="icon ion-plane"></i>
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==13">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==13">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==13">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==13">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-divider red">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Zaibunissa St.
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==6">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==6">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==6">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==6">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col col-offset-20">
				<div class="row car">
					<div class="col" ng-show="gameState.user.length >= 1">
						<i class="icon ion-model-s positive"></i><br/> {{gameState.user[0].cash | currency:"":0}}
					</div>
					<div class="col" ng-show="gameState.user.length >= 2">
						<i class="icon ion-model-s balanced"></i><br/> {{gameState.user[1].cash | currency:"":0}}
					</div>
					<div class="col" ng-show="gameState.user.length >= 3">
						<i class="icon ion-model-s assertive"></i><br/> {{gameState.user[2].cash | currency:"":0}}
					</div>
					<div class="col" ng-show="gameState.user.length >= 4">
						<i class="icon ion-model-s dark"></i><br/> {{gameState.user[3].cash | currency:"":0}}
					</div>
				</div>
			</div>
			<div class="col col-offset-20">
				<div class="item item-divider green">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Drigh
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==14">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==14">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==14">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==14">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-divider red">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i>
				</div>
				Tipu Sultan
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==5">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==5">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==5">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==5">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col col-offset-60">
				<div class="item item-divider green">
					<i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Lyari <i class="icon ion-speedometer"></i>
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==15">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==15">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==15">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==15">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-divider calm">
					Go Jail
				</div>
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==4">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==4">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==4">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==4">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider orange">
					<i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				Napier
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==3">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==3">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==3">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==3">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider orange">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
				</div>
				M.A. Jinnah
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==2">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==2">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==2">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==2">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider orange">
					<i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star"></i>
				</div>
				I.I. Chundrigar
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==1">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==1">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==1">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==1">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="item item-divider calm">
					<i class="icon ion-arrow-left-a"></i> Go
				</div>
				<div class="row car">
					<div class="col" ng-show="gameState.user[0].position==0">
						<i class="icon ion-model-s positive"></i>
					</div>
					<div class="col" ng-show="gameState.user[1].position==0">
						<i class="icon ion-model-s balanced"></i>
					</div>
					<div class="col" ng-show="gameState.user[2].position==0">
						<i class="icon ion-model-s assertive"></i>
					</div>
					<div class="col" ng-show="gameState.user[3].position==0">
						<i class="icon ion-model-s dark"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<label class="item item-input">
					<span class="input-label">GameId (Share)</span>
					<input type="text" ng-model="appService().gameState.game_id">
				</label>
			</div>
			<div class="col">
				<button ng-click="joinGame()" class="button button-positive icon-left ion-ios-bolt">Join Game</button>
				<button ng-click="newGame()" class="button button-assertive icon-left ion-ios-refresh">New Game</button>
			</div>
			<div class="col">
				<button ng-click="rollDice()" class="button button-balanced icon-left ion-ios-keypad" ng-disabled="gameState.user[gameState.turn].hash != appService().user">Roll Dice</button>
			</div>
		</div>

		{{gameState.user[gameState.turn].hash != appService().user}}
		{{gameState.user[gameState.turn].hash}}
		{{appService().user}}

	</ion-content>
</ion-view>